*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Rubik",'Roboto'
}

body {
    background-size:cover;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0;
}

nav h1{
    font-size: 21px;
    color:#FFF;
    font-weight:bolder;
}

nav ul li {
    font-size: 21px;
    color:#1E3A81;
    font-weight:bold;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin: 10px 30px;   
}

nav ul button {
    font-size:21px;
    color:#1E3A81;
    font-weight:bold;
    padding: 36px 91px;
    text-shadow: 0, 0, 0, 0.25;
    border-radius:9%;
    outline:none;
    cursor: pointer;
    opacity:0.8;
}

.text-box{
    margin-top: 100px;
    max-width: 600px;
}

.text-box h1 {
    font-size: 90px;
    margin-bottom: 20px;
    color:#1E3A81;
    white-space: nowrap;
}

.text-box p {
    font-size: 20px;
    color:#384770;
    white-space: nowrap;
    font-weight:bolder;
}

.Join-quiz {
    position:relative;
    width:329px;
    background-color: #FFF;
}

.Join-quiz button {
    font-size:32px;
    font-weight:bolder;
    color:#FFF;
    top:0;
    right:0;
    height:100%;
    position:absolute;
    background-color: #95B8BA;
    border:none;
    outline:none;
    cursor: pointer;
    border-radius:15%;
}

.Join-quiz input{
    width:100%;
    height: 54px;
    outline: none;
    border:none;
    border-radius:15px;
}