<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>About Us & Contact Us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="StyleSheet" href="./style/global.css" />
	<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>

</head>
<style>
body {
  background-image: url('./static/css/aboutus.png');
  background-repeat: no-repeat;
  background-size: 100%;

}
</style>
<body>
	<div class="content-container">
		<div class="about">
			<div class="logo">
				<a href="#">
					<img src="./static/css/logo.png" alt="logo" />
					<span class="title">HAPPY LEARNING</span>
				</a>
			</div>
			<div class="search">
				<input type="text" placeholder="Search" />
				<div class="search-icon"></div>
			</div>
			<div class="functions">
				<a href="#" class="block">
					<span>Read Page</span>
					<img src="./static/css/volume_max.png" />
				</a>
				<a href="#" class="block">
					<img src="./static/css/group.png" />
					<span>Classes</span>
					<img src="./static/css/down_arrow.png" />
				</a>
			</div>
			<div class="join-us">
				<a href="#">Join Us</a>
			</div>
			<img src="./static/css/aboutus_box.png" alt="aboutus_box" style = "position:fixed; left:80px; top:180px;">
			<img src="./static/css/contactus_box.png" alt="contactus_box" style = "position:fixed; left:80px; top:500px;">
		</div>
	</div>
</body>

</html>