{% extends "base.html" %}
{% block content %}
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>about us&contact us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="StyleSheet" href="../static/css/style.css" />
	<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>

</head>
<style>
body {
	margin: 0;
	padding: 0;
	background-image: url('../static/css/aboutus.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
</style>
<body>
	<div class="about">
		<div class="header">
			<div class="logo">
				<a href="#">
					<img src="../static/css/logo.png" alt="logo" />
					<span class="title">HAPPY LEARNING</span>
				</a>
			</div>
			<div class="search">
				<input type="text" placeholder="Search" />
				<div class="search-icon"></div>
			</div>
			<div class="functions">
				<a href="#" class="block">
					<span>Read Page</span>
					<img src="../static/css/volume_max.png" />
				</a>
				<a href="#" class="block">
					<img src="../static/css/group.png" />
					<span>Classes</span>
					<img src="../static/css/down_arrow.png" />
				</a>
			</div>
			<div class="join-us">
				<a href="#">Join Us</a>
			</div>
		</div>

	</div>
</body>
{% endblock %}
