<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create quiz</title>
</head>

<body>
 <button><a href="/quiz_lecturer">Create quiz</a></button><br><br>

<div id="Question list">
        <button type="question">Question 1</button><br><br>
</div>

 <button type="add button" onclick="addQuestion()">Add question</button>
<!--<form action="js.js" class="Question">-->
<!--    <h1>Question {{que_num}}</h1>-->
<!--    <input type="text" placeholder="Question"/>-->
<!--    <br/>-->
<!--    <input type="options" placeholder="add options"/>-->
<!--    <br/>-->
<!--    <input type="options" placeholder="add options"/>-->
<!--    <br/>-->
<!--    <input type="options" placeholder="add options"/>-->
<!--</form>-->
<!--<h3 id="demo" onclick="myFunction()">Click me to change my color.</h3>-->
 <button onclick="displayFeedback()">Submit</button><br><br>

<label>Question:</label><br><br>

<input type="text" name="my_question" placeholder="Enter a question here"><br><br>

<div id="Answer list">
    <input type="answer1" name="my_answer" placeholder="Answer1"><br><br>
</div>

 <button onclick="addAnswer()">+</button><br><br>
</body>
</html>

<script>
function addQuestion() {
<!--  document.createElement("button") ;-->
    let button = document.createElement("button");
    button.innerHTML = "Question2";
    button.type = "question";
    button.name = "Question2";
    document.getElementById("Question list").appendChild(button);
}

function addAnswer() {
    let answerBox = document.createElement("input");
    answerBox.type = "answer1";
    answerBox.name = "my_answer";
    answerBox.placeholder="Answer2"
    document.getElementById("Answer list").appendChild(answerBox);
}
function displayFeedback() {
  let prompt = 'Upload successfully!'
  alert(prompt);
}
</script>