{% extends "base.html" %}
{% block content %}
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(window).on('load', () => {
                if ($('input[type=checkbox]:checked').length >= 1) {
                    $('input[type=checkbox]').not(":checked").attr("disabled", true);
                    $('input[type=submit]').removeAttr('disabled');
                } else {
                    $('input[type=checkbox]').not(":checked").removeAttr('disabled');
                    $('input[type=submit]').attr("disabled", true);
                }
                $('input[type=checkbox]').click(function () {
                    if ($('input[type=checkbox]:checked').length >= 1) {
                        $('input[type=checkbox]').not(":checked").attr("disabled", true);
                        $('input[type=submit]').removeAttr('disabled');
                    } else {
                        $('input[type=checkbox]').not(":checked").removeAttr('disabled');
                        $('input[type=submit]').attr("disabled", true);
                    }
                });
            });
        </script>
    </head>
    <body id="editQuestion">
    {% if question %}
        <form id="editQuestionForm" name="question-form" action="" method="post" >
            {{ form.hidden_tag() }}
            <p>
                {{ form.question.label }}<br>
                {{ form.question() }}
                {% for error in form.question.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.choice_a.label }}<br>
                {{ form.checkbox_a() }}
                {{ form.choice_a() }}
                {% for error in form.choice_a.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.choice_b.label }}<br>
                {{ form.checkbox_b() }}
                {{ form.choice_b() }}
                {% for error in form.choice_b.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.choice_c.label }}<br>
                {{ form.checkbox_c() }}
                {{ form.choice_c() }}
                {% for error in form.choice_c.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.choice_d.label }}<br>
                {{ form.checkbox_d() }}
                {{ form.choice_d() }}
                {% for error in form.choice_d.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            <a href="/delete_question/{{question.id}}"><input type="button" id="deleteQuestionBtn" value="Delete This Question"></a>
        </form>
        <a href="#">
            <button id="del-quiz-btn">Back to Quiz</button>
        </a>
    {% endif %}
    </body>
{% endblock %}