{% extends "base.html" %}
{% block content %}
    <div id="editQuiz">
        <div class="header">
            <nav>
                <a href="/">
                    <image src="../static/images/logo.png" class="logo"></image>
                </a>
                <h1><a href="/">Happy Learning</a></h1>
            </nav>
        </div>
        <a href="/edit_quiz/quiz_history/{{ quiz.id }}">
            <button id="historyBtn">Quiz History</button>
        </a>
        <a href="/create_question/{{ quiz.id }}">
            <button id="add-quiz-btn">Add A Question</button>
        </a>
        <a href="/quiz_play/{{ quiz.pin }}">
            <button id="add-btn_start">Start This Quiz</button>
        </a>
        <br><br><br><br><br>
        <div class="question-list">
            {% if question_set %}
                {% for a_question in question_set %}
                    <div class="student_quiz">
                        <a href="/edit_question/{{ quiz.id }}/?id={{ a_question.id }}"
                           style="text-decoration: none;">
                            <p>Question: {{ a_question.question }}</p>
                            <p>A: {{ a_question.choice_a }}</p>
                            <p>B: {{ a_question.choice_b }}</p>
                            <p>C: {{ a_question.choice_c }}</p>
                            <p>D: {{ a_question.choice_d }}</p>
                            <p>Answer: {{ a_question.answer }}</p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="quizNameForm">
            <form name="quiz-name-form" action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(value=quiz.name) }}<br>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        <a href="{{ url_for("lecturer_main") }}">
            <button id="go-back-btn">Back to All Quizzes</button>
        </a>
        <a href="/delete_quiz/?id={{ quiz.id }}">
            <button id="del-quiz-btn">Delete This Quiz</button>
        </a></div>
{% endblock %}