<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit my quiz</title>
</head>
<body>


<form action="/edit_quiz_question" method="post">
    <h1>Quiz id:</h1>
    <p>{{quiz_id}}</p>
    <h1>Quiz question:</h1>
                <input type="text" placeholder={{question}} name="question"/>
                <br/>
    <h2>choice A:</h2>
                <input type="checkbox" class="label__input" name="checkbox1"/>
                <input type="text" name="op1" placeholder={{A}}/>
                <br/>
    <h2>choice B:</h2>
                <input type="checkbox" class="label__input" name="checkbox2"/>
                <input type="text" name="op2" placeholder={{B}}/>
                <br/>
    <h2>choice C:</h2>
                <input type="checkbox" class="label__input" name="checkbox3"/>
                <input type="text" name="op3" placeholder={{C}}/>
                <br/>
    <h2>choice D:</h2>
                <input type="checkbox" class="label__input" name="checkbox4"/>
                <input type="text" name="op4" placeholder={{D}}/>
    <input type="submit" value="Save"/>
<!--                <a href="/my_quiz"><button onclick="displayFeedback()" value="Finish this quiz"></button></a>-->
            </form>
</body>
</html>