{% extends "base.html" %}
{% block content %}
    <div class="header">
        <nav>
            <a href="/lecturer_main">
                <image src="../static/images/logo.png" class="logo"></image>
            </a>
            <h1><a href="/lecturer_main">Happy Learning</a></h1>
        </nav>
    </div>

    <a href="/create_question/?id={{ quiz_id }}">
        <button id="add-quiz-btn">Add A Question</button>
    </a>
    <a href="/quiz_play/{{ pin }}">
        <button id="add-btn_start">Start This Quiz</button>
    </a>
    <br><br><br><br><br>
    <div>
        {% if question_set %}
            {% for a_question in question_set %}
                <div class="student_quiz">
                    <a href="/edit_question/?quiz_id={{ quiz_id }}&id={{ a_question.id }}"
                       style="text-decoration: none;">
                        <p>Question: {{ a_question.question }}</p>
                        <p>Type: {{ a_question.type }}</p>
                        <p>A: {{ a_question.choice_a }}</p>
                        <p>B: {{ a_question.choice_b }}</p>
                        <p>C: {{ a_question.choice_c }}</p>
                        <p>D: {{ a_question.choice_d }}</p>
                        <p>Answer: {{ a_question.answer }}</p>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}