<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
</head>
<body>

<script charset="utf-8" type="text/javascript">
// var user_type = "student"
var user_type = "teacher"
var socket = io.connect("http://localhost:5000")

$(document).ready(function() {
        socket.on('connect', function() {
            socket.send("User connected!");
        });

        socket.on('message', function(data) {
            $('#attendants').append($('<p>').text(data));
        })

        $('#joinBtn').on('click', function(){
            socket.send($('#username').val());
            $('#username').hide();
            $('#joinBtn').hide();
        });
})


$(window).on('load', function() {
    if  (user_type == "teacher") {
        $('#attendants').append($('<p>').text("A teacher joined"));
        $('#attendants').append($('<p>').text("Quiz Pin: 123456"));
        $('#username').hide();
        $('#joinBtn').hide();

        $('#startBtn').on('click', function(){
            $('#attendants').hide();
            $('#startBtn').hide();
            socket.emit('ask for question')
            displayQuestion();
        });
    }
    else {
        $('#startBtn').hide();
        $('#attendants').append($('<p>').text("A student joined"));
    }
})

    function displayQuestion(){
        socket.on('display question', function(question, choice_a, choice_b, choice_c, choice_d, answer){
                $('.question').append($('<p>').text(question));
                $('.question').append($('<button>').text(choice_a));
                $('.question').append($('<button>').text(choice_b));
                $('.question').append($('<button>').text(choice_c));
                $('.question').append($('<button>').text(choice_d));
                $('.question').append($('<p>').text("Answer:" + answer));
        });
    }

        $( " .question" ).on('click',function(){
            $( " .question" ).css( "color", "blue" );
        })
    </script>

<!--html elements-->
    <div id="attendants"><p>Attendants:</p></div>
    <h3 id="quizPIN">{{quiz_pin}}</h3>
    <button id="startBtn">Start Quiz</button>
    <div class="question"></div>

    <input type="text" id="username" placeholder="Username - student">
    <button id="joinBtn">Join</button>

</body>
</html>