<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get quiz id </title>
</head>
<body>

<h1>All quiz id:</h1>
<p>{{all_quiz}}</p>
<h1>Most recently created quiz:</h1>
<p>{{recent_quiz}}</p>
<h1>Enter quiz id:</h1>

    <form action="/view_my_quiz" method="post">
        <!--        enter quiz id to view the related quiz-->
        <input type="text" name="get_quiz_id" placeholder="Enter a question id"><br><br>
        <button type="submit" type="submit">Submit</button><br><br>
    </form>


</body>
</html>

<script>
    for(var i=0;i<{{quiz_count}};i++){
        var br = document.createElement("br");
        addLink(i+1)
        document.body.appendChild(br)
    }

    function addLink(i){
        var a = document.createElement("a");
        a.innerHTML = "Question" + i;
        a.title = "Question link";
        a.href = "/edit_my_quiz"
        document.body.appendChild(a)
    }
</script>