{% extends "base.html" %}
{% block content %}
    <div class="header">
        <nav>
            <image src="../static/css/logo.png" class="logo"></image>
            <h1>Happy Learning</h1>
            <ul class="nav-links">
                <a href="/about">
                    <li>About us</li>
                </a>
                <a href="/signup">
                    <li>Sign up</li>
                </a>
                <a href="/login">
                    <li class="btn">Login</li>
                </a>
            </ul>
        </nav>
        <div class="content">
            <h1>
                Learn
            </h1>
            <h1>
                What You Love.
            </h1>
            <p>10+ Courses. 17+ Mentors. 200+ Lessons.</p>
            <p>Get better at what you love while being mentored by the best in the game!</p>

        </div>
        <div class="Join-quiz">
            <input type="text" placeholder="Game PIN" maxlength="6">
            <button href="#">Join now</button>
        </div>
    </div>
{% endblock %}