{% extends "base.html" %}
{% block content %}
    <div class="header">
        <image src="../static/images/logo.png" class="logo"></image>
        <nav>
            <h1>Happy Learning</h1>
            <ul class="nav-links">
                <a href="{{ url_for('about') }}">
                    <li class="btn">About us</li>
                </a>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('register') }}">
                        <li class="btn">Sign up</li>
                    </a>
                    <a href="{{ url_for('login') }}">
                        <li class="btn">Login</li>
                    </a>
                {% else %}
                    {%  if current_user.type == "student" %}
                        <a href="{{ url_for('student_main') }}">
                            <li class="btn">{{current_user.username}}</li>
                        </a>
                    {% else %}
                        <a href="{{ url_for('lecturer_main') }}">
                            <li class="btn">{{current_user.username}}</li>
                        </a>
                    {%  endif %}
                    <a href="{{ url_for('logout') }}">
                        <li class="btn">Logout<li>
                    </a>
                {% endif %}
            </ul>
        </nav>
        <div class="content">
            <h1>
                Learn
            </h1>
            <h1>
                What You Love.
            </h1>
            <p>10+ Courses. 17+ Mentors. 200+ Lessons.</p>
            <p>Get better at what you love while being mentored by the best in the game!</p>

        </div>
        <div class="Join-quiz">
            <form name="pin-form" action="" method="post">
                {{ form.pin(placeholder='Your PIN') }}
                {{ form.hidden_tag() }}
                {% for error in form.pin.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}

