{% extends "base.html" %}i
{% block content %}
    <div class="lecturer-list">
        <div class="header">
            <nav>
                <image src="../static/images/logo.png" class="logo"></image>
                <h1>Welcome {{ user }}</h1>
            </nav>
        </div>

        <div class="quiz">
            <h2>Your Quiz</h2>
            <button class="btn" style="position: absolute;left: 100px;top: 100px;">Quiz 1</button>
            <button class="btn" style="position: absolute;left: 400px;top: 100px;">Quiz 2</button>
            <button class="btn" style="position: absolute;left: 700px;top: 100px;">Quiz 3</button>

        </div>

        <div class="dropdown">
            <button class="dropbtn">{{ user }}</button>
            <div class="dropdown-content">
                <a href="#">Switch Account</a>
                <a href="/login">Log Out</a>
                <a href="/my_quiz">My quiz</a>
                <a href="/new_quiz">Create quiz</a>
                <a href="/get_quiz_id">Edit My Quiz</a>
            </div>
        </div>


        

    </div>
{% endblock %}