{% extends "base.html" %}
{% block content %}
    <div class="lecturer-list">
        <div class="header">
            <nav>
                <a href="/">
                    <image src="../static/images/logo.png" class="logo"></image>
                </a>
                <h1><a href="/">Welcome {{ current_user.username }}</a></h1>
            </nav>
        </div>
        <div class="quiz">
            <h2>Your Quizzes</h2>
            <a href="{{ url_for('create_quiz') }}" style="text-decoration: none;">
                <button id="add-quiz-btn" style="background-color:98d8e3;right:15%;">Add A Quiz</button>
            </a>
            <div class="cards-layout">
                {% if quizzes %}
                    {% for quiz in quizzes %}
                        <div class="cards">
                            <a href="/edit_quiz/{{ quiz.id }}" style="text-decoration: none;">
                                <div class="card">
                                    <p class="card_title">{{ quiz.name }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="dropdown">
            <button class="drop-btn">{{ current_user.username }}</button>
            <div class="dropdown-content">
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
        </div>
    </div>
{% endblock %}


      (function (e, t) {
        var n = e.amplitude || { _q: [], _iq: {} };
        var r = t.createElement('script');
        r.type = 'text/javascript';
        r.integrity = 'sha384-a+mq7tiLwde/00Oc7avFHLn/ttGfdAq1rtZc7u97SEzIiyYoT2IsOKWCkAThwdEu';
        r.crossOrigin = 'anonymous';
        r.async = true;
        r.src = 'https://cdn.amplitude.com/libs/amplitude-5.3.0-min.gz.js';
        r.onload = function () {
          if (!e.amplitude.runQueuedFunctions) {
            console.log('[Amplitude] Error: could not load SDK');
          }
        };
        var i = t.getElementsByTagName('script')[0];
        i.parentNode.insertBefore(r, i);
        function s(e, t) {
          e.prototype[t] = function () {
            this._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
            return this;
          };
        }
        var o = function () {
          this._q = [];
          return this;
        };
        var a = ['add', 'append', 'clearAll', 'prepend', 'set', 'setOnce', 'unset'];
        for (var u = 0; u < a.length; u++) {
          s(o, a[u]);
        }
        n.Identify = o;
        var c = function () {
          this._q = [];
          return this;
        };
        var l = ['setProductId', 'setQuantity', 'setPrice', 'setRevenueType', 'setEventProperties'];
        for (var p = 0; p < l.length; p++) {
          s(c, l[p]);
        }
        n.Revenue = c;
        var d = [
          'init',
          'logEvent',
          'logRevenue',
          'setUserId',
          'setUserProperties',
          'setOptOut',
          'setVersionName',
          'setDomain',
          'setDeviceId',
          'setGlobalUserProperties',
          'identify',
          'clearUserProperties',
          'setGroup',
          'logRevenueV2',
          'regenerateDeviceId',
          'groupIdentify',
          'onInit',
          'logEventWithTimestamp',
          'logEventWithGroups',
          'setSessionId',
          'resetSessionId',
        ];
        function v(e) {
          function t(t) {
            e[t] = function () {
              e._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
            };
          }
          for (var n = 0; n < d.length; n++) {
            t(d[n]);
          }
        }
        v(n);
        n.getInstance = function (e) {
          e = (!e || e.length === 0 ? '$default_instance' : e).toLowerCase();
          if (!n._iq.hasOwnProperty(e)) {
            n._iq[e] = { _q: [] };
            v(n._iq[e]);
          }
          return n._iq[e];
        };
        e.amplitude = n;
      })(window, document);
      // When running inside the app, this function will be injected and called by the app.
      // To avoid race conditions, we pre-define it here
      function sendGameStats() {}


      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 554762, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');

