{% extends "base.html" %}
{% block content %}
    <div class="lecturer-list">
        <div class="header">
            <nav>
                <a href="/">
                    <image src="../static/images/logo.png" class="logo"></image>
                </a>
                <h1><a href="/">Welcome {{ current_user.username }}</a></h1>
            </nav>
        </div>
        <div class="quiz">
            <h2>Your Quizzes</h2>
            <a href="{{ url_for('create_quiz') }}" style="text-decoration: none;">
                <button id="add-quiz-btn" style="background-color:98d8e3;right:15%;">Add A Quiz</button>
            </a>
            <div class="cards-layout">
                {% if quizzes %}
                    {% for quiz in quizzes %}
                        <div class="cards">
                            <a href="/edit_quiz/?id={{ quiz.id }}" style="text-decoration: none;">
                                <div class="card">
                                    <p class="card_title">{{ quiz.name }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="dropdown">
            <button class="drop-btn">{{ current_user.username }}</button>
            <div class="dropdown-content">
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
        </div>
    </div>
{% endblock %}