{% extends "base.html" %}
{% block content %}
    <div class="login">
        <div class="header">
            <nav>
                <image src="../static/images/logo.png" class="logo"></image>
                <h1><a href="/">Happy Learning</a></h1>
                <label for="tips">{{ tips }}</label>
            </nav>
        </div>
        <div class="login-box">
            <div class="welcome">
                <h1>Welcome</h1>
                <h3>Login into your account</h3>
            </div>
            <form name="login-form" action="" method="post" autocomplete="on">
            {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=120) }}<br>
            {% for error in form.email.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=255) }}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
            <a href="#">Forgot password?</a>
        </div>
    </div>
{% endblock %}
