{% extends "base.html" %}
{% block content %}
    <div class="lecturer-list">
        <div class="header">
            <nav>
                <a href="/"><image src="../static/images/logo.png" class="logo"></image></a>
            </nav>
        </div>
        <div class="quiz-creation" id="test">
            <form name="add-question" action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.question.label }}<br>
                    {{ form.question(placeholder="Question") }}
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.choice_a.label }}<br>
                    {{ form.checkbox_a }}
                    {{ form.choice_a(placeholder="add options") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.choice_b.label }}<br>
                    {{ form.checkbox_b }}
                    {{ form.choice_b(placeholder="add options") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.choice_c.label }}<br>
                    {{ form.checkbox_c }}
                    {{ form.choice_c(placeholder="add options") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.choice_d.label }}<br>
                    {{ form.checkbox_d }}
                    {{ form.choice_d(placeholder="add options") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
    <script>
        function displayFeedback() {
            let prompt = 'Upload successfully!'
            alert(prompt);
        }
    </script>
{% endblock %}
