{% extends "base.html" %}
{% block content %}
    <div class="lecturer-list">
        <div class="header">
            <nav>
                <image src="../static/images/logo.png" class="logo"></image>
                <h1><a href="/lecturer_main">Creating Quiz</a></h1>
            </nav>
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">{{ user }}</button>
                <div class="dropdown-content">
                    <a href="#">Switch Account</a>
                    <a href="/login">Log Out</a>
                </div>
        </div>
        
        <div class="quiz-creation" id="test">
            <input type="text" placeholder="Question {{que_num}}"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="options" placeholder="add options"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="options" placeholder="add options"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="options" placeholder="add options"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="options" placeholder="add options"/>
            <input type="submit" value="Submit"/>
        </div>
        
    </div>     

<script>
$(document).ready(function(){
$('#test').find('input[type=checkbox]').bind('click', function(){
$('#test').find('input[type=checkbox]').not(this).attr("checked", false);
});
});
</script>
{% endblock %}
