{% extends "base.html" %}
{% block content %}
    <head>
        <title>Quiz Play Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
        <script type="text/javascript">
            // add prev and next method to array type
            Array.prototype.next = function () {
                return this[++this.current];
            };
            Array.prototype.prev = function () {
                return this[--this.current];
            };
            Array.prototype.current = 0;</script>
        <script type="text/javascript">
            let socket = io.connect();
            const abcd = "ABCD";

            $(document).ready(() => {
                socket.on("connect", () => {
                    socket.emit("join", "{{ PIN }}");
                })
                socket.on("disconnect", () => {
                    socket.emit("leave", "{{ PIN }}");
                })
                socket.on("message", (data) => {
                    $('#players').append($('<p>').text(data));
                })
            })

            function getDescendingSortedHash(inputHash) {
                let resultHash = {};

                let keys = Object.keys(inputHash);
                keys.sort(function (a, b) {
                    return inputHash[a] - inputHash[b]
                }).reverse().forEach(function (k) {
                    resultHash[k] = inputHash[k];
                });
                return resultHash;
            }

            function handler(e) {
                e.stopPropagation();
                e.preventDefault();
            }
            let questions = {{ the_quiz|safe }};
            let currentQuestion = JSON.parse(JSON.stringify(questions[questions.current]));
            let answer;
            let questionLaunchTime;
            let userChoice;

            let studentAnswers = {"quiz_id": {{quiz_id}}};

            $(window).on('load', () => {
                socket.on("show-finish-quiz", (top_three) => {
                    $('#onGoingQuestion').hide();
                    $('#quizFinish').show();
                    let theTags = document.getElementById("quizFinish").getElementsByTagName("span");
                    for (let i = 0; i < Object.keys(top_three).length * 2 - 1; i += 2) {
                        theTags[i].innerText = Object.keys(top_three)[i / 2];
                        theTags[i + 1].innerText = top_three[Object.keys(top_three)[i / 2]];
                    }
                })
                socket.on("show-question-block", () => {
                    $('#waiting').hide();
                    $('#onGoingQuestion').show();
                })
                socket.on("show-countdown-block", () => {
                    $('#countdown').show();
                });
                socket.on("receive-enable-choice", () => {
                    document.removeEventListener("click", handler, true);
                })
                socket.on("receive-reset-countdown", () => {
                    $('#countdown').hide();
                    $('#checkScoreBoard').show();
                    document.getElementById('beginCountdown').value = 10;
                    document.getElementById('beginCountdownText').innerText = "10";
                    document.getElementById(answer).setAttribute("class", "answer");
                    if ("{{ current_user.type}}" === "student" && !(userChoice === answer)) {
                        if (!(userChoice === undefined)) {
                            document.getElementById(userChoice).setAttribute("class", "wrong");
                        } else {
                            socket.emit("calculate-rank-score", questionLaunchTime, Date.now(), false, "{{ PIN }}");
                        }
                    }
                })
                socket.on("receive-one-second", () => {
                    let timeLeft = Number(document.getElementById('beginCountdown').value);
                    timeLeft = Number(document.getElementById('beginCountdown').value) - 1;
                    return new Promise((resolve, reject) => {
                        document.getElementById('beginCountdown').value = timeLeft;
                        document.getElementById('beginCountdownText').textContent = timeLeft.toString();
                        if (timeLeft === 0) {
                            socket.emit("ask-reset-countdown", "{{ PIN }}");
                        }
                    });
                })
                socket.on("show-populate-scoreboard", (rankScores) => {
                    $('#checkScoreBoard').hide();
                    $('#onGoingQuestion').hide();
                    $('#scoreBoard').show();
                    $('#nextBtn').show();
                    rankScores = getDescendingSortedHash(rankScores);
                    let html = "";
                    for (let i = 0; i < Object.keys(rankScores).length; i++) {
                        html = "<tr><td>" + (i + 1) + "</td><td>" + Object.keys(rankScores)[i] + "</td>" +
                            "<td>" + rankScores[Object.keys(rankScores)[i]] + "</td></tr>";
                        document.getElementById("scoreBoardTable").innerHTML += html;
                    }
                })
                socket.on("show-question-content", () => {
                    questionLaunchTime = Date.now();
                    answer = currentQuestion.answer;
                    document.getElementById('question').innerHTML = currentQuestion.question;
                    document.getElementById('A').value = currentQuestion.choice_a;
                    document.getElementById('B').value = currentQuestion.choice_b;
                    document.getElementById('C').value = currentQuestion.choice_c;
                    document.getElementById('D').value = currentQuestion.choice_d;
                })
                socket.on("show-next-question", (rank_scores) => {
                    questionLaunchTime = Date.now();
                    document.getElementById('scoreBoardTable').innerHTML = "<caption>Score Board</caption><thead><tr><th>#</th><th>Usernames</th>" +
                        "<th>Score</th></tr></thead>";
                    $('#scoreBoard').hide();
                    $('#nextBtn').hide();
                    socket.emit("ask-prevent-choice", "{{ PIN }}");
                    let nextQuestion = questions.next();
                    if (!!nextQuestion) {
                        currentQuestion = JSON.parse(JSON.stringify(nextQuestion));
                        for (let letter in abcd) {
                            document.getElementById(abcd[letter]).removeAttribute("class");
                        }
                        socket.emit("ask-question-block", "{{ PIN }}");
                        socket.emit("ask-question-content", "{{ PIN }}");
                    } else {
                        if ("{{ current_user.type }}" === "student") {
                            studentAnswers["rank_score"] = rank_scores["{{ current_user.username }}"]
                            socket.emit("send-answer", studentAnswers, "{{ PIN }}");
                        } else {
                            socket.emit("ask-finish-quiz", "{{ quiz_id }}", "{{ PIN }}");
                        }
                    }
                })
                socket.on("show-select-choice", (choice) => {
                    let isCorrect = choice === answer;
                    studentAnswers[currentQuestion.id] = isCorrect;
                    socket.emit("calculate-rank-score", questionLaunchTime, Date.now(), isCorrect, "{{ PIN }}");
                    userChoice = choice;
                    document.getElementById(choice).setAttribute("class", "selected");
                    document.addEventListener("click", handler, true);
                })
                $('#exitRoomBtn').on('click', () => {
                    socket.emit("leave", "{{ PIN }}");
                })
                $('#startBtn').on('click', () => {
                    socket.emit("ask-question-block", "{{ PIN }}");
                    socket.emit("ask-question-content", "{{ PIN }}");
                    socket.emit("ask-countdown-block", "{{ PIN }}");
                    socket.emit("ask-countdown", "{{ PIN }}");
                })
                $('#checkScoreBoard').on('click', () => {
                    socket.emit("ask-scoreboard", "{{ PIN }}");
                })
                $('#nextBtn').on('click', () => {
                    $('#nextBtn').hide();
                    socket.emit("ask-next-question", "{{ PIN }}");
                    if (!(questions.current === (questions.length - 1))) {
                        socket.emit("ask-countdown-block", "{{ PIN }}");
                        socket.emit("ask-countdown", "{{ PIN }}");
                    }
                })
                if ("{{ current_user.type }}" === "student") {
                    $('#startBtn').hide();
                }
                if ("{{ current_user.type }}" === "student") {
                    $('#A').on('click', () => {
                        socket.emit("ask-choice-A");
                    })
                    $('#B').on('click', () => {
                        socket.emit("ask-choice-B");
                    })
                    $('#C').on('click', () => {
                        socket.emit("ask-choice-C");
                    })
                    $('#D').on('click', () => {
                        socket.emit("ask-choice-D");
                    })
                }
            })
        </script>
    </head>
    <body id="quizPlay">
    <div id="waiting" style="position:relative;top:40px;">
        <div style="text-align: center;">
            {% if current_user.type == "lecturer" %}
                <a href="/edit_quiz/{{ quiz_id }}">
                    <button id="exitRoomBtn">Exit</button>
                </a>
            {% else %}
                <a href="/index">
                    <button id="exitRoomBtn">Exit</button>
                </a>
            {% endif %}
            <button id="startBtn">Let's Go!!!</button>
            {% if current_user.type == "lecturer" %}
                <h3 id="quizPIN">The Game PIN: {{ PIN }}</h3>
                <div id="players"><p>Players:</p></div>
            {% else %}
                <p>Waiting for the lecturer to start the game...</p>
            {% endif %}
        </div>
    </div>

    {% if current_user.type == "lecturer" %}
        <input type="button" value="Check Scores" id="checkScoreBoard" hidden/>
        <input type="button" value="Next" id="nextBtn" hidden/>
    {% endif %}

    <div id="onGoingQuestion" hidden>
        <div id="countdown">
            <progress value="10" max="10" id="beginCountdown"></progress>
            <span>  <span id="beginCountdownText"> 10</span>S Left!!!</span>
        </div>
        <div style="text-align: center;font-size:60px;">Question: <span id="question"></span></div>
        <div id="choices">
            <input type="button" id="A" value=""/>
            <input type="button" id="B" value=""/>
            <br>
            <input type="button" id="C" value=""/>
            <input type="button" id="D" value=""/>
        </div>
    </div>

    <div id="quizFinish" hidden>Quiz Finished!<br>
        <a href="{{ url_for("index") }}">
            <input type="button" value="Go back to Home page">
        </a>
        <div id="champion">
            <img src="../static/images/first1.png"><br>
            <span id="champName"></span> won with <span id="champScore"></span>
        </div>
        <div id="firstRunnerUp">
            <img src="../static/images/first2.png"><br>
            <span id="secondName"></span> won with <span id="secondScore"></span>
        </div>
        <div id="secondRunnerUp">
            <img src="../static/images/first3.png"><br>
            <span id="thirdName"></span> won with <span id="thirdScore"></span>
        </div>
    </div>

    <div id="scoreBoard" hidden>
        <table id="scoreBoardTable" style="left: 35%;top: 10%;border-radius: 0px;border-color: white;">
            <caption>Score Board</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Usernames</th>
                <th>Score</th>
            </tr>
            </thead>
        </table>
    </div>

    <audio controls hidden autoplay loop="loop">
        <source src="../static/audio/student_quiz_music.mp3" type="audio/mpeg">
    </audio>
    </body>
{% endblock %}