{% extends "base.html" %}
{% block content %}
    <div id="scoreBoard">
        <table id="scoreBoardTable">
            <tr>
                <th>Usernames</th>
                <th>Marks</th>
                <th>Scores</th>
            </tr>
            {% for row in score_join_user %}
                <tr>
                    <td>{{ row[1].username }}</td>
                    <td>{{ row[0].score }}/{{ num_of_questions }}</td>
                    <td>{{ row[0].rank_score }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}