{% extends "base.html" %}i
{% block content %}
    <div class="student-quiz_bg">
        Q1.How long is a sprint time goes on?<br>
        <div class="student-quiz">
            <input type="radio" name="question1" id="correct1">1 <br>
            <input type="radio" name="question1">2 <br>
            <input type="radio" name="question1">3 <br>
            <input type="radio" name="question1">0 <br>
        </div>


        <button class="quiz_previous_btn">Previous</button>
        <button class="quiz_next_btn">Next</button>
        <input type="submit" class="student-quiz_button" name="submit" value="Submit Quiz" onClick="result()">
    </div>
    <script type="text/javascript">
        function result() {
            var score = 0;
            if (document.getElementById('correct1').checked) {
                score++;
            }

            alert("Your score is:" + score);
            // to print on browser
            // document.write("Your score is:"+score);
        }
    </script>


{% endblock %}