{% extends "base.html" %}
{% block content %}
    <head>
        <title>Quiz Play Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
        <script type="text/javascript">
            // add prev and next method to array type
            Array.prototype.next = function () {
                return this[++this.current];
            };
            Array.prototype.prev = function () {
                return this[--this.current];
            };
            Array.prototype.current = 0;</script>
        <script type="text/javascript">
            // socket handler
            let socket = io.connect("http://localhost:5000");
            const abcd = ['A', 'B', 'C', 'D'];

            $(document).ready(() => {
                socket.on('connect', () => {
                    socket.send("User connected!");
                })
                socket.on('message', (data) => {
                    if ("{{ current_user.type }}" === "lecturer") {
                        $('#players').append($('<p>').text(data));
                    }
                })
                socket.on("show-finish-quiz", () => {
                    $('#onGoingQuestion').hide();
                    $('#quizFinish').show();
                })
                socket.on("show-countdown-block", () => {
                    $('#countdown').show();
                });
                socket.on("receive-enable-choice", () => {
                    document.removeEventListener("click", handler, true);
                })
                socket.on("receive-reset-countdown", () => {
                    $('#countdown').hide();
                    $('#checkScoreBoard').show();
                    document.getElementById('beginCountdown').value = 10;
                    document.getElementById('beginCountdownText').innerText = "10";
                    if ('{{ current_user.type }}' === "lecturer") {
                        document.getElementById(answer).setAttribute("class", "answer");
                    } else {
                        document.getElementById(answer).setAttribute("class", answer);
                        if (!(user_choice === null) && !(user_choice === answer)) {
                            document.getElementById(user_choice).setAttribute("class", "wrong");
                        } else {
                            socket.emit("ask-answer-time", "{{ current_user.username }}", Date.now(), true);
                        }
                    }
                })
                socket.on("receive-one-second", () => {
                    let timeleft = Number(document.getElementById('beginCountdown').value);
                    timeleft = Number(document.getElementById('beginCountdown').value) - 1;
                    return new Promise((resolve, reject) => {
                        document.getElementById('beginCountdown').value = timeleft;
                        document.getElementById('beginCountdownText').textContent = timeleft.toString();
                        if (timeleft === 0) {
                            socket.emit("ask-reset-countdown");
                        }
                    });
                })
                socket.on("show-populate-scoreboard", (rank_scores) => {
                    $('#checkScoreBoard').hide();
                    $('#onGoingQuestion').hide();
                    $('#scoreBoard').show();
                    $('#nextBtn').show();
                    rank_scores = getDescendingSortedHash(rank_scores);
                    let i = 1;
                    for (let entry in rank_scores) {
                        let row = document.getElementById('scoreBoardTable').insertRow(i);
                        i += 1;
                        let username = row.insertCell(0);
                        let rank_score = row.insertCell(1);
                        username.innerHTML = entry;
                        rank_score.innerHTML = rank_scores[entry];
                    }
                })
            })

            function getDescendingSortedHash(inputHash) {
                let resultHash = {};

                let keys = Object.keys(inputHash);
                keys.sort(function (a, b) {
                    return inputHash[a] - inputHash[b]
                }).reverse().forEach(function (k) {
                    resultHash[k] = inputHash[k];
                });
                return resultHash;
            }

            let questions = {{ the_quiz|safe }};
            let current_question = JSON.parse(JSON.stringify(questions[questions.current]));
            let answer;
            let student_answers = {"quiz_id": {{quiz_id}}};
            let user_choice;

            $(window).on('load', () => {
                socket.on("show-question-content", () => {
                    $('#waiting').hide();
                    $('#onGoingQuestion').show();
                    answer = current_question.answer;
                    document.getElementById('question').innerHTML = current_question.question;
                    document.getElementById('A').value = current_question.choice_a;
                    document.getElementById('B').value = current_question.choice_b;
                    document.getElementById('C').value = current_question.choice_c;
                    document.getElementById('D').value = current_question.choice_d;
                })
                socket.on("show-next-question", (rank_scores) => {
                    for (let entry in rank_scores) {
                        document.getElementById('scoreBoardTable').deleteRow(1);
                    }
                    $('#scoreBoard').hide();
                    $('#onGoingQuestion').show();
                    let next_question = questions.next();
                    if (!!next_question) {
                        current_question = JSON.parse(JSON.stringify(next_question));
                        document.getElementById("A").removeAttribute("class");
                        document.getElementById("B").removeAttribute("class");
                        document.getElementById("C").removeAttribute("class");
                        document.getElementById("D").removeAttribute("class");
                        socket.emit("ask-question-content", Date.now());
                    } else {
                        socket.emit("ask-finish-quiz");
                        if ("{{ current_user.type }}" === "student") {
                            fetch(`/send_quiz_result`, {
                                method: "POST",
                                credentials: "include",
                                body: JSON.stringify(student_answers),
                                cache: "no-cache",
                                headers: new Headers({
                                    "content-type": "application/json"
                                })
                            })
                        }
                    }
                })
                socket.on("show-select-choice", (choice) => {
                    student_answers[current_question.id] = choice === answer;
                    if (choice === answer) {
                        socket.emit("ask-answer-time", "{{ current_user.username }}", Date.now());
                    } else {
                        socket.emit("ask-answer-time", "{{ current_user.username }}", Date.now(), true);
                    }
                    user_choice = choice;
                    document.getElementById(choice).setAttribute("class", "selected");
                    document.addEventListener("click", handler, true);
                })
                if ("{{ current_user.type }}" === "lecturer") {
                    socket.send("Yeah-oo! Lecturer {{ current_user.username }} has initiated the game!\r");
                } else {
                    $('#startBtn').hide();
                    socket.send("Kaboom!!! Student {{ current_user.username }} has joined the game!\r");
                }
                $('#startBtn').on('click', () => {
                    socket.emit("ask-question-block");
                    socket.emit("ask-question-content", Date.now());
                    socket.emit("ask-countdown");
                })
                $('#checkScoreBoard').on('click', () => {
                    socket.emit("ask-scoreboard");
                })
                $('#nextBtn').on('click', () => {
                    socket.emit("ask-next-question", Date.now());
                    socket.emit("ask-prevent-choice");
                    socket.emit("ask-countdown-block");
                    $('#nextBtn').hide();
                    socket.emit("ask-countdown");
                })
                if ("{{ current_user.type }}" === "student") {
                    $('#A').on('click', () => {
                        socket.emit("ask-choice-A");
                    })
                    $('#B').on('click', () => {
                        socket.emit("ask-choice-B");
                    })
                    $('#C').on('click', () => {
                        socket.emit("ask-choice-C");
                    })
                    $('#D').on('click', () => {
                        socket.emit("ask-choice-D");
                    })
                }
            })

            function handler(e) {
                e.stopPropagation();
                e.preventDefault();
            }
        </script>
    </head>

    <div id="waiting" style="position:relative;top:40px;">
        <div style="text-align: center;">
            <button id="startBtn">Let's Go!!!</button>
            {% if current_user.type == "lecturer" %}
                <h3 id="quizPIN">The Game PIN: {{ PIN }}</h3>
                <div id="players"><p>Players:</p></div>
            {% else %}
                <p>Waiting for the lecturer to start the game...</p>
            {% endif %}
        </div>
    </div>

    {% if current_user.type == "lecturer" %}
        <input type="button" value="Check Scores" id="checkScoreBoard" hidden/>
        <input type="button" value="Next" id="nextBtn" hidden/>
    {% endif %}

    <div id="onGoingQuestion" hidden>
        <div id="countdown">
            <progress value="10" max="10" id="beginCountdown"></progress>
            <p><span id="beginCountdownText">10</span>S Left!!!</p>
        </div>
        <div style="text-align: center;font-size:60px;">Question: <span id="question"></span></div>
        <div class="choices" style="text-align: center">
            <input type="button" id="A" value=""/>
            <input type="button" id="B" value=""/><br>
            <input type="button" id="C" value=""/>
            <input type="button" id="D" value=""/>
        </div>
    </div>

    <div id="scoreBoard" hidden>
        <table id="scoreBoardTable">
            <tr>
                <th>Student Username</th>&emsp;&emsp;
                <th>Rank Score</th>
            </tr>
        </table>
    </div>

    <div id="quizFinish" hidden>Quiz Finished!</div>

    <audio controls hidden autoplay loop="loop">
        <source src="../static/audio/student_quiz_music.mp3" type="audio/mpeg">
    </audio>
{% endblock %}