{% extends "base.html" %}
{% block content %}
    <p>The total number of questions for this quiz is: {{ num_of_questions }}</p>
    <div>
        <table>
            <tr>
                <th>Student Username</th>
                <th>Score</th>
            </tr>
            {% for row in user_join_score %}
                <tr>
                    <td>{{ row[1].username }}</td>
                    <td>{{ row[0].score }}/{{ num_of_questions }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}