{% extends "base.html" %}
{% block content %}
    <div class="lecturer-list">
        <div class="header">
            <nav>
                <image src="../static/images/logo.png" class="logo"></image>
                <h1><a href="/lecturer_main">{{quiz_name}}</a></h1>
            </nav>
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">{{ user }}</button>
                <div class="dropdown-content">
                    <a href="#">Switch Account</a>
                    <a href="/login">Log Out</a>
                </div>
        </div>
        
        <div class="quiz-creation" id="test">
            

            <form action="#" method="post">
            <input type="text" placeholder="Question {{que_num}}"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="text" placeholder="Add options"/>

            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="text" placeholder="Add options"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="text" placeholder="Add options"/>
            <br/>
            <input type="checkbox" class="label__input"/>
            <input type="text" placeholder="Add options"/>
            <input type="submit" value="Submit"/>
            </form>

        </div>
        
    </div>     

{% endblock %}
