{% extends "base.html" %}
{% block content %}
    <!-- body class="signup" -->
    <div class="signup">
        <div class="header">
            <nav>
                <image src="../static/css/logo.png" class="logo"></image>
                <h1><a href="/">Happy Learning</a></h1>
            </nav>
        </div>
        <div class="signupbox">
            <form>
                <div class="welcome">
                    <h1>Happy Learning</h1>
                    <h3>Get Start Now</h3>
                    <label for="tips">{{tips}}</label>
                </div>
                <label for="username">Username:</label>

                <input type="text" name="username" placeholder="Userame"/>
                
                <label for="useremail">Email:</label>
                
                <input type="text" name="email" placeholder="Enter Email"/>

                <label for="password">Password:</label>

                <input type="password" name="password" placeholder="Password"/>

                <label for="con-password">Confirm Password:</label>

                <input type="password" name="" placeholder="Confirm Password"/>

                <h4>I am </h4>
                
                <div class="sel">
                    <select name="type" id="select">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                    </select>
                </div>
                <br>

                <a href="#"><input type="submit" name="" value="Create Account and Login"></a>

                <a type="link" href="/login">Already have an account?</a>

            </form>
        </div>
    </div>
{% endblock %}
