{% extends "base.html" %}
{% block content %}
    <div class="student-list">
        <div class="header">
            <nav>
                <a href="/">
                    <image src="../static/images/logo.png" class="logo"></image>
                </a>
                <h1><a href="/">Welcome {{ current_user.username }}</a></h1>
            </nav>
        </div>
        <div class="quiz">
            <h2>Recent Completed Quizzes</h2>
            <div class="cards-layout">
                {% if completed_quizzes %}
                    {% for quiz in completed_quizzes %}
                        <div class="cards">
                            <div class="card" style="text-decoration: none;">
                                <p class="card_title">{{ quiz.name }} with
                                    score: {{ quiz.score }}/{{ num_of_questions[quiz.quiz_id] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="dropdown">
            <button class="drop-btn">{{ current_user.username }}</button>
            <div class="dropdown-content">
                <a href="/login">Log Out</a>
            </div>
        </div>
    </div>
{% endblock %}