{% extends "base.html" %}
{% block content %}

    <div class="student-list">
        <div class="header">
            <nav>
                <image src="../static/images/logo.png" class="logo"></image>
                <h1>Welcome {{current_user.username}}</h1>
            </nav>
        </div>
        <div class="dropdown">
            <button class="drop-btn">{{current_user.username}}</button>
            <div class="dropdown-content">
                <a href="#">Switch Account</a>
                <a href="/login">Log Out</a>
            </div>
        </div>

        <div class="quiz">
            <h2>Recent Quiz</h2>
            <button class="quiz-name1">Quiz Name Teacher's name</button>
            <button class="quiz-name2">Quiz Name Teacher's name</button>
            <button class="quiz-name3">Quiz Name Teacher's name</button>
        </div>
    </div>
{% endblock %}