{% extends "base.html" %}
{% block content %}
    <head>
    <title>Waiting Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
        <script type="text/javascript">
            // socket handler
            let socket = io.connect("http://localhost:5000");

            $(document).ready(function () {
                socket.on('connect', function () {
                    socket.send("User connected!");
                });

                socket.on('message', function (data) {
                    if ("{{ current_user.type }}" === "lecturer") {
                    $('#players').append($('<p>').text(data));}
                });
            });

            $(window).on('load', function () {
                if ("{{ current_user.type }}" === "lecturer") {
                    $('#players').append($('<p>').text("Yeah-oo! Lecturer {{ current_user.username }} has initiated the game!"));
                    $('#startBtn').on('click', function () {
                        socket.emit('ask for question');
                    });
                } else {
                    socket.send("Kaboom!!! Student {{ current_user.username }} has joined the game!\r");
                }
            });</script>
    </head>
    {% if current_user.type == "lecturer" %}
    <a href="/taking_quiz/?id={{ quiz_id }}">
        <button id="startBtn">Let's Go!!!</button>
    </a>
    <h3 id="quizPIN">The Game PIN: {{ PIN }}</h3>
    <div id="players"><p>Players:</p></div>
        {% else %}
        Waiting for the lecturer to start...
    {% endif %}
{% endblock %}