<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happylearning</title>
    <link href="static/css/style.css" rel="stylesheet" >
</head>

<body>
    <div class="header">
        <nav>
            <image src="static/css/logo.png" class="logo"></image>
            <h1>Happy Learning</h1>
            <ul class="nav-links">
                <li a href="About.html">About us</a></li>
                <li class="btn" a href="/login_display">Login</a></li>
            </ul>        
        </nav>
        <div class="content">
            <h1>
                Learn
            </h1>
            <h1>
                What You Love.
            </h1>
            <p>10+ Courses. 17+ Mentors. 200+ Lessons.</p>
            <p>Get better at what you love while being mentored by the best in the game!</p>
            
        </div>
        <div class="Join-quiz">
            <input type="text"placeholder="Game PIN" maxlength="6">
            <button href="#">Join now</button>
        </div>
    </div>
</body>
</html>
