<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Happylearning</title>
    <link href="static/css/style.css" rel="stylesheet" >
</head>
<body class="login">
    <div class="header">
        <nav>
            <image src="static/css/logo.png" class="logo"></image>
            <h1>Happy Learning</h1>
        </nav>
    </div>
    <div class="loginbox">
        <form>
            <div class="welcome">
            <h1>Welcome</h1>
            <h4>Login into your account</h4>
            </div>
            <p>Username or email</p>
            <input type="text"  name ="" placeholder="Enter Username" />
            <p>Password:</p>
            <input type="password"  name ="" placeholder="Enter password" />
            <input type="checkbox" > <label for="rememberMe">Remember me</label>
            <a href="#">Recover password</a><br>
            <input type="submit" name ="" value="Login">
            <a href="#">Don't have an account?</a>
        </form>
    </div>
</body>