* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", 'Roboto', 'sans-serif'
}

body {
    background-image: url('../images/student_quiz_bg.gif');
    background-size: 100% 100%;
}

.header {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    color: #0ff;
}

.logo {
    width: 40px;
    height: 53.42px;
    position: absolute;
    top: 29px;
    left: 53px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav h1 {
    font-size: 30px;
    color: #FFF;
    font-weight: bolder;
    position: absolute;
    left: 106px;
    top: 40px;
}

nav ul {
    position: absolute;
    right: 16px;
    top: 29px;
}

nav ul li {
    font-size: 21px;
    color: #1E3A81;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.btn {
    color: #1E3A81;
    background: #fff;
    background: #98d8e3;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    margin-top: 100px;
    max-width: 600px;
}

.content h1 {
    font-size: 90px;
    margin-bottom: 20px;
    color: #1E3A81;
    white-space: nowrap;
}

.content p {
    font-size: 20px;
    color: #384770;
    white-space: nowrap;
    font-weight: bolder;
}

.Join-quiz {
    position: fixed;
    width: 10%;
    left: 100px;
    bottom: 54px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Join-quiz input[type="text"] {
    width: 100%;
    height: 50%;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 32px;
    font-weight: bolder;
}

.Join-quiz input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.Join-quiz input[type="submit"] {
    font-size: 30px;
    font-weight: bolder;
    background: #1E3A81;
    color: #fff;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.login {
    margin: 0;
    padding: 0;
    background-image: url("../images/loginbackground.png");
    background-size: 100% 100%;
    background-position: center;
    font-family: "poppins", sans-serif;
}

.login-box {
    width: 360px;
    height: 450px;
    background: rgba(0, 170, 255, 0.547);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 10px;
}

.login-box h1 {
    padding: 0 0 10px;
    text-align: center;
    font-size: 36px;
}

.login-box h3 {
    padding: 0 0 10px;
    text-align: center;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100px;
    margin-bottom: 20px;
}

.login-box input[type="checkbox"] {
    width: 5%;
}

.login-box input[type="text"], input[type="password"] {
    width: 300px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    background: #cbeff7;
    color: #000;
    font-size: 18px;
    border-radius: 10px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #1E3A81;
    color: #fff;
}

.login-box a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    color: red;
}

.login-box a:hover {
    color: yellow;
}

.signup {
    margin: 0;
    padding: 0;
    background-image: url("../images/signupbackground.png");
    background-size: 100% 100%;
    background-position: center;
    font-family: "poppins", sans-serif;
}

.signup .header h5 {
    position: fixed;
    top: 15px;
    left: 805px;
    color: red;
}

.signupbox {
    width: 360px;
    min-height: 570px;
    height: auto;
    background: rgba(0, 170, 255, 0.547);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 10px;
}

.signupbox h1 {
    padding: 0 0 10px;
    text-align: center;
    font-size: 36px;
}

.signupbox h3 {
    padding: 0 0 10px;
    text-align: center;
}

.signupbox p {

    font-weight: bold;
}

.signupbox input {
    margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="password"] {
    width: 300px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(110, 110, 110);
    font-size: 16px;
}

.signupbox input[type="submit"] {
    margin-top: 8%;
    border-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    background: #cbeff7;
    color: #000;
    font-size: 18px;
    border-radius: 10px;
}

.signupbox input[type="submit"]:hover {
    cursor: pointer;
    background: #1E3A81;
    color: #fff;

}

.signupbox a[type="link"] {
    text-decoration: none;
    position: absolute;
    left: 90px;
    font-size: 15px;
    line-height: 10px;
    color: red;
}

.signupbox a[type="link"]:hover {
    color: yellow;
}

.about {
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    vertical-align: middle;
    min-width: 1220px;
}

.aboutus {
    background-image: url('../images/student_quiz_bg.gif');
    background-size: 100% 100%;
}

.aboutus a {
    color: black;
}

.aboutus a:hover {
    color: #FF0000;

}

.aboutus_box {
    position: fixed;
    left: 80px;
    top: 180px;
}

.contactus_box {
    position: fixed;
    left: 80px;
    top: 500px;
    top: 500px;
    border-radius: 10px;
}

.student-list {
    background-image: url('../images/student_quiz_bg.gif');
    background-size: 100% 100%;
}

.student-list .nav ul {
    position: fixed;
    top: 50px;
    left: 800px;
}

/* .student-list .headerlinks a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1 0px 16px;
    text-decoration: none;
    font-size: 18px;
}

.student-list .headerlinks a:hover {
    background-color: #ddd;
    color: black;
}

.student-list .headerlinks a.active {
    background-color: #2196F3;
    color: white;
}

.student-list .headerlinks .search-container {
    float: right;
    position: fixed;
    top: 40px;
    left: 20px;
    font-size: 17px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.student-list .headerlinks .search-container button {
    float: right;
    padding: 6px;
    background: #5d9cc9;
    font-size: 28px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.headerlinks .search-container button:hover {
    background: #3badff;
}

.headerlinks input[type=text] {
    padding: 6px;
    margin-top: 4px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
} */

.dropbtn {
    background-color: #0384fc;
    position: absolute;
    right: 50px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown {
    position: fixed;
    top: 40px;
    right: 30px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3badff;
}

.quizname1 {
    position: absolute;
    top: 100px;
    left: 100px;
}

.quizname2 {
    position: absolute;
    top: 100px;
    left: 350px;
}

.quizname3 {
    position: absolute;
    top: 100px;
    left: 600px;
}

.quiz {
    padding-left: 16px;
    position: fixed;
    top: 120px;
    font-size: 20px;
}

.cards-layout {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards{
    /* There will be 4 cards per row */
    flex-basis: 18%;

    padding-left: 8px;
    padding-right: 8px;
}

.card {
    margin: 30px 60px;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color:#0ff;
  }

.card .card_title {
    text-align: center;
    padding-top: 130px;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 80px;
    color: white;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
        -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: row;
    }
}

.quiz button {
    display: block;
    width: 200px;
    height: 200px;
    border: none;
    background-color: #5d9cc9;
    color: white;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz button:hover {
    background-color: #3badff;
    color: white;
    font-size: 20px;
}

.lecturer-list {
    background-image: url('../images/student_quiz_bg.gif');
    background-size: 100% 100%;
}

.lecturer-list .create-button button{
    position:absolute;
    top:20px;
    right:250px;
}

.quiz-creation {
    width: 1200px;
    height: 800px;
    background: rgba(0, 170, 255, 0.4);
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 10px;
}

.quiz-creation h1 {
    padding: 0 0 10px;
    text-align: center;
    font-size: 36px;
}

.quiz-creation input {
    display: block;
    margin: 20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size: 40px;
    border-radius: 22px;
    outline: none;
    color: #000000;
}

.quiz-creation input[type="submit"] {
    border: none;
    outline: none;
    height: 7%;
    width: 14%;
    background: #cbeff7;
    color: #000;
    font-size: 18px;
    border-radius: 10px;
    position:absolute;
    right:4%;
    bottom:5px;
}

.quiz-creation input[type="submit"]:hover {
    cursor: pointer;
    background: #1E3A81;
    color: #fff;
}

.quiz-creation .label__input{
    position:absolute;
    left:25%;
    zoom:250%;
}

.zhezhao{
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.tankuang{
    position: relative;
    background: #fff;
    width: 50%;
    height: 80%;
    border-radius: 5px;
    margin: 5% auto;
}

#header{
    height: 40px;
}

#header-right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}

.studentquiz_bg {
    background-color: #98d8e3;
    background-size: 100% 100%;
	position: absolute;
	height: 350px;
	width: 600px;
    top: 50%;
    left: 50%;
	font-size: 40px;
	border-radius: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.studentquiz {
	font-size: 30px;
	position:fixed;
	left: 5px;
}

.quiz_previous_btn {
	font-size: 20px;
	color: #1E3A81;
    background-color: #98d8e3;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
	border: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz_next_btn {
	font-size: 20px;
	color: #1E3A81;
    background-color: #98d8e3;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
	border: none;
	position: fixed;
	bottom: 10px;
	left: 200px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.studentquiz_button {
	font-size: 20px;
	color: #1E3A81;
    background: #fff;
    background-color: #98d8e3;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
	border: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quizmusic {
	position:fixed;
	bottom: 300px;
	left: 800px;
}

/* toggle in label designing */
.toggle {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
    border-radius: 30px;
    border: 3px solid #ffffff;
    vertical-align: top;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 88%;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.25s;
    vertical-align: top;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left: 48%;
}

/* Checkbox vanished */
.checkbox {
    display: none;
}