* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", 'Roboto'
}

body {
    background-image: url('../images/background.png');
    background-size: 100% 100%;
}

.header {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    color: #0ff;
}

.logo {
    width: 40px;
    height: 53.42px;
    position: absolute;
    top: 29px;
    left: 53px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav h1 {
    font-size: 30px;
    color: #FFF;
    font-weight: bolder;
    position: absolute;
    left: 106px;
    top: 40px;
}

nav ul {
    position: absolute;
    right: 16px;
    top: 29px;
}

nav ul li {
    font-size: 21px;
    color: #1E3A81;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.btn {
    color: #1E3A81;
    background: #fff;
    background: #98d8e3;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    margin-top: 100px;
    max-width: 600px;
}

.content h1 {
    font-size: 90px;
    margin-bottom: 20px;
    color: #1E3A81;
    white-space: nowrap;
}

.content p {
    font-size: 20px;
    color: #384770;
    white-space: nowrap;
    font-weight: bolder;
}

.Join-quiz {
    position: fixed;
    width: 330px;
    left: 100px;
    bottom: 54px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Join-quiz button {
    font-size: 30px;
    font-weight: bolder;
    color: #FFF;
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    background-color: #98d8e3;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.Join-quiz input {
    width: 100%;
    height: 54px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 32px;
}


.login {
    margin: 0;
    padding: 0;
    background-image: url("../images/loginbackground.png");
    background-size: 100% 100%;
    background-position: center;
    font-family: "poppins";
}

.loginbox {
    width: 360px;
    height: 450px;
    background: rgba(0, 170, 255, 0.547);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 10px;
}

.loginbox h1 {
    padding: 0 0 10px;
    text-align: center;
    font-size: 36px;
}

.loginbox h3 {
    padding: 0 0 10px;
    text-align: center;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100px;
    margin-bottom: 20px;
}

.loginbox input[type="checkbox"] {
    width: 10px;
    zoom: 150%;
}

.loginbox input[type="text"], input[type="password"] {
    width: 300px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    background: #cbeff7;
    color: #000;
    font-size: 18px;
    border-radius: 10px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #1E3A81;
    color: #fff;

}

.loginbox a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    color: red;
}

.loginbox a:hover {
    color: yellow;
}

.signup {
    margin: 0;
    padding: 0;
    background-image: url("../images/signupbackground.png");
    background-size: 100% 100%;
    background-position: center;
    font-family: "poppins";
}

.signup .header h5 {
    position: fixed;
    top: 15px;
    left: 805px;
    color: red;
}

.signupbox {
    width: 360px;
    height: 570px;
    background: rgba(0, 170, 255, 0.547);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 10px;
}

.signupbox h1 {
    padding: 0 0 10px;
    text-align: center;
    font-size: 36px;
}

.signupbox h3 {
    padding: 0 0 10px;
    text-align: center;
}

.signupbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signupbox input {
    width: 100px;
    margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="password"] {
    width: 300px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(110, 110, 110);
    font-size: 16px;
}

.sel {
    float: right;
    margin-right: 20px;
    width: 120px;
    height: 22px;
    overflow: hidden;
}

.sel h4 {
    position: fixed;
    left: 35px;
    margin-bottom: 20px;
}

.sel select {
    position: fixed;
    left: 75px;
    top: 435px;
    background: transparent;
    width: 250px;
    padding: 1px 2px;
    border: 1px solid black;
    font-weight: bold;
    outline: none;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

.signupbox input[type="date"] {
    width: 300px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(110, 110, 110);
    font-size: 16px;
}

.signupbox input[type="submit"] {
    position: fixed;
    top: 485px;
    border-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    background: #cbeff7;
    color: #000;
    font-size: 18px;
    border-radius: 10px;
}

.signupbox input[type="submit"]:hover {
    cursor: pointer;
    background: #1E3A81;
    color: #fff;

}

.signupbox a[type="link"] {
    text-decoration: none;
    position: absolute;
    top: 540px;
    left: 90px;
    font-size: 15px;
    line-height: 10px;
    color: red;
}

.signupbox a[type="link"]:hover {
    color: yellow;
}

.about {
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    vertical-align: middle;
    min-width: 1220px;
}

.aboutus {
    background-image: url('../images/aboutbg.png');
    background-size: 100% 100%;
}

.aboutus a {
    color: black;
}

.aboutus a:hover {
    color: #FF0000;

}

.aboutus_box {
    position: fixed;
    left: 80px;
    top: 180px;
}

.contactus_box {
    position: fixed;
    left: 80px;
    top: 500px;
    border-radius: 10px;
}

.student-list {
    background-image: url('../images/student_quiz_bg.gif');
    background-size: 100% 100%;
}

.student-list .logo {
    width: 40px;
    height: 53.42px;
    position: absolute;
    top: 29px;
    left: 53px;
}

.student-list .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.student-list .nav h1 {
    font-size: 30px;
    color: #FFF;
    font-weight: bolder;
    position: absolute;
    left: 106px;
    top: 40px;
}

.student-list .nav ul {
    position: fixed;
    top: 50px;
    left: 800px;
}

.student-list .headerlinks a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.student-list .headerlinks a:hover {
    background-color: #ddd;
    color: black;
}

.student-list .headerlinks a.active {
    background-color: #2196F3;
    color: white;
}

.student-list .headerlinks .search-container {
    float: right;
    position: fixed;
    top: 40px;
    left: 350px;
    font-size: 17px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.student-list .headerlinks .search-container button {
    float: right;
    padding: 6px;
    background: #5d9cc9;
    font-size: 28px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.headerlinks .search-container button:hover {
    background: #3badff;
}

.headerlinks input[type=text] {
    padding: 6px;
    margin-top: 4px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
}

.student-list .dropbtn {
    background-color: #0384fc;
    position: absolute;
    right: 50px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.student-list .dropdown {
    position: fixed;
    top: 40px;
    right: 30px;
    display: inline-block;
}

.student-list .dropdown-content {
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.student-list .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.student-list .dropdown-content a:hover {
    background-color: #ddd;
}

.student-list .dropdown:hover .dropdown-content {
    display: block;
}

.student-list .dropdown:hover .dropbtn {
    background-color: #3badff;
}

.quizname1 {
    position: absolute;
    top: 100px;
    left: 100px;
}

.quizname2 {
    position: absolute;
    top: 100px;
    left: 350px;
}

.quizname3 {
    position: absolute;
    top: 100px;
    left: 600px;
}

.quiz {
    padding-left: 16px;
    position: fixed;
    top: 120px;
    font-size: 20px;
}

.quiz button {
    display: block;
    width: 200px;
    height: 200px;
    border: none;
    background-color: #5d9cc9;
    color: white;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz button:hover {
    background-color: #3badff;
    color: white;
    font-size: 20px;
}

.lecturer-list {
    background-image: url('../images/studentbg.jpg');
    background-size: 100% 100%;
}

.lecturer-list .logo {
    width: 40px;
    height: 53.42px;
    position: absolute;
    top: 29px;
    left: 53px;
}

.lecturer-list .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.lecturer-list .nav h1 {
    font-size: 30px;
    color: #FFF;
    font-weight: bolder;
    position: absolute;
    left: 106px;
    top: 40px;
}

.lecturer-list .dropbtn {
    background-color: #0384fc;
    position: absolute;
    right: 50px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lecturer-list .dropdown {
    position: fixed;
    top: 40px;
    right: 30px;
    display: inline-block;
}

.lecturer-list .dropdown-content {
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.lecturer-list .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lecturer-list .dropdown-content a:hover {
    background-color: #ddd;
}


.lecturer-list .dropdown:hover .dropdown-content {
    display: block;
}

.lecturer-list .dropdown:hover .dropbtn {
    background-color: #3badff;
}

.lecturer-list .dropdown:hover .dropdown-content {
    display: block;
}

.lecturer-list .dropdown:hover .dropbtn {
    background-color: #3badff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/student_quiz_bg.gif');
    background-size: cover;


    height: 100vh;
    padding: 0;
    margin: 0;
}

::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box {
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list {
    padding: 15px 30px;
}

.info_box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span {
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box {
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text {
    font-size: 25px;
    font-weight: 600;
}

section .option_list {
    padding: 20px 0px;
    display: block;
}

section .option_list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child {
    margin-bottom: 0px;
}

section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled {
    pointer-events: none;
}

section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

.option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span {
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child {
    padding-left: 0px;
}

footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover {
    background: #0263ca;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart {
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover {
    background: #0263ca;
}

.buttons button.quit {
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover {
    color: #fff;
    background: #007bff;
}

